body {
    direction: ltr;
}
#viewButton {
    background-color: cornflowerblue;
    color: azure;
    border: none;
}
#deleteButton {
    background-color: red;
    color: azure;
    border: none;
}
.col-sm-4 col-md-4 {
    width: 25%;
    margin-bottom: 10em;
}