@{
    ViewBag.Title = "Config";
}

<p>Use this area to provide additional information.</p>

<div>
    <div>
        <h2>Config</h2>
        <table>
            <tr>
                <td>Output Directory:  </td>
                <td><p type="text" id="configOutputDir" size="5"></p></td>
            </tr>

            <tr>
                <td>Source Name:  </td>
                <td><p type="text" id="configSourceName" size="5"></p></td>
            </tr>

            <tr>
                <td>Log Name:  </td>
                <td><p type="text" id="configLogName" size="5"></p></td>
            </tr>

            <tr>
                <td>Thumbnail Size:  </td>
                <td><p type="text" id="configThumbSize" size="5"></p></td>
            </tr>
        </table>
    </div>