
@{
    ViewBag.Title = "Config";
}


<div>
    <div>
        <h2>Config</h2>
        <table>
            <tr>
                <td>Output Directory:  </td>
                <td><p type="text" id="configOutputDir" size="5"></p></td>
            </tr>

            <tr>
                <td>Source Name:  </td>
                <td><p type="text" id="configSourceName" size="5"></p></td>
            </tr>

            <tr>
                <td>Log Name:  </td>
                <td><p type="text" id="configLogName" size="5"></p></td>
            </tr>

            <tr>
                <td>Thumbnail Size:  </td>
                <td><p type="text" id="configThumbSize" size="5"></p></td>
            </tr>
        </table>
    </div>

    <div>
        <h2>Handlers</h2>
        buttons list will be added
        @*<p> Salary: </p>
        <input type="text" id="txtSalaryId" size="5" />
        <p> Name: </p>
        <input type="text" id="NameID" size="5" />
        <input type="button" id="btnSearch" value="Search" />
        <ul id="lstProducts"></ul>*@
     </div>

</div>