@model ImageServiceWeb.Models.Image

@{
    ViewBag.Title = "DeletePhoto";
}

<div>
    <h2>Delete Photo</h2>
    <h3>Are you sure you want to delete this photo?</h3>
    <p>@Url.Content(Model.Name)</p>
    <p><img src="@Url.Content(Model.Path)" class="img-rounded" alt="Cinque Terre"></p>

    <div>
        <table>
            <tr>
                <td><input type="button" id="btnDelete" value="Delete" /></td>
                <td><input type="button" id="btnCancel" value="Cancel" class="float-left submit-button" />
            </tr>
        </table>
    </div>

</div>


<script type="text/javascript">
    document.getElementById("btnDelete").onclick = function () {
        document.getElementById("btnCancel").disabled = true;
        document.getElementById("btnDelete").disabled = true;
        location.href = "PhotoDeletor";
    };
</script>

<script type="text/javascript">
    document.getElementById("btnCancel").onclick = function () {
        document.getElementById("btnCancel").disabled = true;
        document.getElementById("btnDelete").disabled = true;
        location.href = "Photos";
    };
</script>

