@{
    ViewBag.Title = "Logs";
}
<h2>@ViewBag.Title</h2>

<table id="LogsTable">
    <tr>
        <th>Log Type</th>
        <th>Message</th>
    </tr>
</table>

<script type="text/javascript">
    function addLogs() {
        for (i = 1; i <= @(ViewBag.logsNum); i++) {
            var table = document.getElementById("LogsTable");
            var row = table.insertRow(i);
            var typeCell = row.insertCell(0);
            var magCell = row.insertCell(1);
            typeCell.innerHTML = @((ViewBag.logsList)[0].Type);
            magCell.innerHTML = @((ViewBag.logsList)[0].Content);
        }
    }
    window.onload = addLogs;
</script>
<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->
